<section>
    <div class="max-w-screen-xl mx-auto px-4 flex items-center justify-start h-screen md:px-8">
        <div class="max-w-lg mx-auto text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">404</h1>
            <h3 class="text-gray-800 text-4xl font-semibold sm:text-5xl">
                Pagina no encontrada
            </h3>
            <p class="text-gray-600 mt-3">
                La pagina que buscas no existe o no esta disponible.
            </p>
            <button class="mt-6 px-5 py-2.5 text-white bg-sky-600 rounded-md duration-150 hover:bg-sky-700 active:shadow-lg">
                <a href="/recharge/">
                    Volver al inicio
                </a>
            </button>
        </div>
    </div>
</section>