---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Form from '../components/Form.astro';
import LoginForm from '../components/LoginForm.astro';
---

<Layout title="AAvance portal recargas">
	<Header></Header>
	<main>
		<LoginForm></LoginForm>
	</main>
</Layout>
