<div class="flex flex-col items-center justify-center" style="min-height: 85vh;">
    <label class="text-gray-600">Hemos enviado un código de confirmación a tu correo electrónico</label>
    <div id="fields" class="mt-2 flex items-center gap-x-2">
        <input type="text" data-index="0" placeholder="0" class="w-12 h-12 rounded-lg border focus:border-indigo-600 outline-none text-center text-2xl" />
        <input type="text" data-index="1" placeholder="0" class="w-12 h-12 rounded-lg border focus:border-indigo-600 outline-none text-center text-2xl" />
        <input type="text" data-index="2" placeholder="0" class="w-12 h-12 rounded-lg border focus:border-indigo-600 outline-none text-center text-2xl" />
        <input type="text" data-index="3" placeholder="0" class="w-12 h-12 rounded-lg border focus:border-indigo-600 outline-none text-center text-2xl" />
        <input type="text" data-index="4" placeholder="0" class="w-12 h-12 rounded-lg border focus:border-indigo-600 outline-none text-center text-2xl" />
        <input type="text" data-index="5" placeholder="0" class="w-12 h-12 rounded-lg border focus:border-indigo-600 outline-none text-center text-2xl" />
    </div>
    <button id="continueButton" class="mt-4 px-4 py-2 bg-sky-600 text-white rounded-lg hover:bg-sky-700">Continuar</button>
</div>

<script lang="js">
    const fieldsRef = document.getElementById("fields");
    const state = {
        code1: "",
        code2: "",
        code3: "",
        code4: "",
        code5: "",
        code6: "",
    };

    fieldsRef.addEventListener("keyup", (e) => {
        const target = e.target
        const dataIndex = +target.getAttribute("data-index");

        if ((e.key === "Delete" || e.key === "Backspace")) {
            const next = dataIndex - 1;
            if (next > -1) {
                fieldsRef.children[next].focus();
            }
        } else {
            const next = dataIndex + 1;
            if (next < fieldsRef.children.length && target.value !== " " && target.value !== "" && e.key.length === 1) {
                fieldsRef.children[next].focus();
            }
        }
    });

    fieldsRef.addEventListener("input", (e) => {
        const target = e.target;
        const dataIndex = +target.getAttribute("data-index");
        const codeNumber = "code" + (dataIndex + 1);
        const value = target.value.slice(target.value.length - 1);
        state[codeNumber] = value;
        target.value = state[codeNumber];
    });

    document.getElementById("continueButton").addEventListener("click", () => {
        const completeCode = Object.values(state).join('');
        localStorage.setItem("verificationCode", completeCode);
        const rechargePath = "/recharge";
		window.location.replace(`../${rechargePath}`);
    });
</script>