<div class="min-h-screen flex flex-col items-center justify-center">
    <div class="bg-white p-10 rounded-lg shadow-md w-full max-w-sm">
        <div class="flex justify-center mb-6">
            <img src="../../public/pse-logo.png" alt="PSE logo placeholder image" class="rounded-full" width="100px" height="100px">
        </div>
        <h1 class="text-2xl font-medium text-center mb-6">Recarga con PSE</h1>
        <p class="text-sm text-center mb-4">Ingresa los datos de tu cuenta AAvance a recargar</p>
        <div class="mb-4">
            <label class="block text-sm font-medium mb-2" for="phone-number">Número de celular de la cuenta</label>
            <input type="text" id="phone-number" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3" required>
        </div>
        <div class="mb-4">
            <label class="block text-sm font-medium mb-2" for="confirm-phone-number">Confirmar número del celular</label>
            <input type="text" id="confirm-phone-number" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3" required>
        </div>
        <div class="mb-4">
            <label class="block text-sm font-medium mb-2" for="amount">Monto a recargar</label>
            <input type="text" id="amount" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3" placeholder="Recarga mínima $10.000" required>
        </div>
        <div class="mb-6">
            <label class="block text-sm font-medium mb-2" for="description">Descripción</label>
            <textarea id="description" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3" required></textarea>
        </div>
        <button class="w-full p-3 bg-gray-300 rounded-lg text-lg font-medium">RECARGAR</button>
    </div>
</div>