---
import Header from "../components/Header.astro";

const { title } = Astro.props;
let subtitle = "Login";
---

<html lang="es" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<!-- favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<!-- google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap"
			rel="stylesheet"
		/>

		<!-- open graph -->


		<!-- page title -->
		<title>{title} - {subtitle}</title>
	</head>
	<body>
		<Header></Header>
		<main id="main-content">
			<slot />
		</main>
	</body>
</html>

<script>
	const isLoggedIn = await localStorage.getItem("isLoggedIn");
	if (isLoggedIn !== null) {
		localStorage.removeItem("isLoggedIn");
		localStorage.removeItem("pin");
		localStorage.removeItem("user");
	}
</script>
